@import url("./globalStyles.css");

input.hl:invalid { border-color: red; }
input.hl:valid   { border-color: #323232; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #323232;
  border: none;
}

input, label {
  display: block;
  outline: none;
  width: 100%;
}

a {
  color: #e60013;
}

body {
  padding-top: 5vh;
  background-image: url('../Images/fundo-image.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

/* form */
#main-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 50px;
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
  margin-top: 20px;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
  margin-top: 10px
}

.spacing {
  margin-right: 2.5%;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 40px;
}

input:focus {
  border-color: #E60084;
}

input[type="button"] {
  background-color: var(--redPrimary);
  color: #FFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#agreement {
  margin-right: 5px;
}

#agreement, #agreement-label {
  display: inline-block;
  width: auto;
}

.error-validation {
  color: #e60013;
  position: absolute;
  top: 57px;
  font-size: 12px;
}

.template {
  display: none;
}