@import url("./globalStyles.css");

.btn-closed {
  background-color: var(--orangeSecondary);
  color: var(--white);
}

.image-client {
  width: 50px;
  height: 50px;
}

.btn {
  margin: 0;
}

.error {
  color: #e60013;
  font-size: 12px;
}