@import url("./globalStyles.css");

.screen-image {
  background-image: url(../Images/fundo-image.jpg);
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  filter: brightness(56%)
}

.section-text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  margin: auto;
}